{% extends "base.html" %}
{% block head %}
    <title>{{title}}</title>
{% endblock %}
{% block body %}
<div class="main" style="min-height: 90%;">
    <h1>Random post from r/{{subreddit}}</h1>
    <h2>{{title}}</h2>
    {% block meme %}
    <img src="{{meme}}" style="max-width: 90vw; max-height: 70vh;">
    {% endblock %}
</div>
<div class=flex style="display: flex;justify-content: space-evenly;">
<a  style="color: #0000EE;width: 100;" href="{{link}}">Link to post</a>
<a  style="color: #0000EE;width: 100;" href="/settings">Settings</a>
<a  style="color: #0000EE;width: 100; cursor: pointer; " onclick="location = location.pathname + location.hash"><u>New post</u></a>
</div>
{% for text in extra %}
<p>{{text}}</p>
{% endfor %}
{% endblock %}
<!---->