{% extends "base.html" %}
{% block head %}
    <title>{{title}}</title>
{% endblock %}
{% block body %}
<div class="main" style="min-height: 90%;">
    <h1>Random post from r/{{subreddit}}</h1>
    <h2>{{title}}</h2>
    {% block meme %}
    <img src="{{meme}}" style="max-width: 90vw; max-height: 70vh;">
    {% endblock %}
</div>
<div class=flex style="display: flex;justify-content: space-evenly;">
<button style="color: #000000;width: 10%;" onclick="location.href='{{link}}'">Link to post</button>
<button style="color: #000000;width: 10%;" onclick="location.href='/settings'">Settings</button>
<button style="color: #000000;width: 10%; cursor: pointer; " onclick="location = location.pathname + location.hash">New post</button>
</div>
{% for text in extra %}
<p>{{text}}</p>
{% endfor %}
{% endblock %}
<!---->