{% extends "base.html.jinja" %}

{% block head %}
<title>Confirm delete</title>
{% endblock head %}

{% block body %}
<h1>Confirm delete record from table {{table}}</h1>
<form target="_self" method="post" action="/adminconsole/delete">
    {% for column, value in data %}
        <p>{{column}}: {{value}}</p><br>
    {% endfor %}
        <input type="hidden" name="user_id" value="{{user_id}}">
        <input type="hidden" name="post_id" value="{{post_id}}">
    <p>warning: deleting posts or user will also delete bookmarks!</p>
    <button type="submit">I'm sure</button>
</form>
{% endblock body %}