{% extends "base.html.jinja" %}
{% block head %}
<title>NSFW Test</title>
{% endblock %}
{% block body %}
<h1>
    NSFW Test
</h1>
<form action="/nsfwtest" method="post" class="settings">
  <label>Answer the following questions correctly to enable NSFW</label>
  {% for topic, questions in all_questions%}
  <div style="display: block">
    <h2>Section 1: Animals</h2>
    <div>
        <label>What does the <input type="text" id="q1"> say?</label><br>
        <label>Beep beep I'm a <input type="text" id="q2"></label><br>
        <label>RIP <input type="text" id="q3"> (1999–2016)</label><br>
    </div>
  </div>
  {% endfor %}
    <div>
        <input style="font-size: inherit;" name="return_selfpost" id="return_selfpost" type="checkbox" value="true"
        {% if session['return_selfpost'] == True %}checked{% endif %}>
        <label for="return_selfpost">Return selfpost? </label>
        <input type="hidden" name="change_selfpost_state" value="true">
        <div class=desc>
            <p1>Whether to show text-only posts</p1>
        </div>
    </div>
    
    <div>
        <input style="font-size: inherit;" name="plsplsplsimdesperateshowmensfw" id="plsplsplsimdesperateshowmensfw" type="checkbox" value="true"
        {% if session['nsfw'] == True %}checked{% endif %}>
        <label for="plsplsplsimdesperateshowmensfw">Return NSFW (18+) content? </label>
        <input type="hidden" name="change_nsfw_state" value="true">
        <div class=desc>
            <p1>Whether to show content marked as Not Suitable For Work (18+)</p1>
        </div>
    </div>

    <div style="padding-top: 40px;">
        <button type="submit" formaction="/settings"       >Save</button>
        <button type="submit" formaction="/"               >Save and exit</button>
        <button type="reset"                               >Discard changes</button>
        <button type="button" onclick="location.href = '/'">Exit without saving</button>
    </div>
</form>
{% endblock %}