{% extends 'base.html.jinja' %}

{% block body %}
  {% block full_meme %}{% endblock %}

  <div>
    <button><a href="/bookmarks" style="text-decoration: none;">Back to bookmarks</a></button>
  </div>
{% endblock %}