{% extends "base.html.jinja" %}

{% block body %}
<div>
  {% for bookmark in bookmarks %}
  <div class="flexbox card">
    <div>
      <a href="/bookmarks/{{bookmark.id}}" target="_blank">
        {{bookmark.title}}
      </a>
      <p>From r/{{bookmark.subreddit}}</p>
    </div>
    <a href="/bookmarks/{{bookmark.id}}" target="_blank" class="right">
      <img class="thumbnail" src="{{bookmark.thumbnail}}" loading="lazy">
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}