<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/meme_man.png')}}">
  <script src="https://kit.fontawesome.com/2f71a5c98f.js" crossorigin="anonymous"></script>
  {% if current_user.is_authenticated %}
  <script src="{{ url_for('static', filename='scripts/account.js') }}"></script>
  {% endif %}
  {% with errors = get_flashed_messages(category_filter="error") %}
    {% if errors %}
      {% for error in errors %}
      <script>
        alert("{{error}}")
      </script>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block head %}{% endblock %}
</head>
<body>
<header>
  <nav>
    <ul class="flexbox">
      <li><a href="/">Home</a></li>
      <li><a href="/settings">Settings</a></li>
      <li style="margin-left:auto">
        {% if not current_user.is_authenticated %}
          <a class="dropbtn" href="#">Account &#x25BC;</a>
          <ul>
              <li><a href="/signup">Signup</a></li>
              <li><a href="/login">Login</a></li>
          </ul>
        {% else %}
          <a class="dropbtn" href="#">{{current_user.username}} &#x25BC;</a>
          <ul>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/bookmarks">Bookmarks</a></li>
              <li><a href="javascript:confirmLogout()">Logout</a></li>
          </ul>
        {% endif %}
      </li>
    </ul>
  </nav>
</header>

{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    {% for message in messages if not message[0] == 'error'%}
    <dialog class="popup {{message[0]}}" style="z-index: 2" open>
      <form method="dialog">
        <p>{{message[1]}}</p>
        <button><i class="fa-solid fa-xmark"></i></button>
      </form>
    </dialog>
    {% endfor %}
  {% endif %}
{% endwith %}



{% block body %}{% endblock %}

</body>
</html>