{% extends "base.html.jinja" %}
{% block head %}
    <title>{{title}}</title>
{% endblock %}
{% block body %}
<div class="main">
  <div id="bookmark-popup" class="popup success" style="display: none;">
    <p>Bookmark created successfully!</p>
    <button id="bookmark-popup-close"><i class="fa-solid fa-xmark"></i></button>
  </div>
  {% block full_meme %}
  {% endblock %}
</div>
<div class="flexbox button-container" style="justify-content: space-evenly;">
  {% if current_user.is_authenticated %}
  <button onclick="createBookmark()">Bookmark <i class="fa-solid fa-bookmark"></i></button>
  {% endif %}
  <button onclick="location = location.pathname + location.hash">New post</button>
</div>
{% if current_user.is_authenticated %}
<script>
  async function createBookmark() {
    let data = new FormData()
    data.append('id', '{{id}}')
    const url = {{ url_for('account.create_bookmark')|tojson }};
    try {
      const response = await fetch(url, {
                          "method": "POST",
                          "body": data
      });
      if (!response.ok) {
        throw new Error(`Response status: ${response.status}`);
      }

      const json = await response.json();
      console.log(json);
      if (!json.error) {
        const popup = document.getElementById('bookmark-popup');
        const popupClose = document.getElementById('bookmark-popup-close');
        popup.style.display = 'block';
        popup.style.zIndex = 10;
        function closePopup() {
          popup.style.display = 'none';
          popup.style.zIndex = 0;
        }
        popupClose.addEventListener("click", closePopup);
      }
    } catch (error) {
      console.error(error.message);
    }
  }
</script>
{% endif%}
{% endblock %}
