{% extends "base.html.jinja" %}
{% block head %}
    <title>{{title}}</title>
{% endblock %}
{% block body %}
<div class="main" style="min-height: 85%;">
    <h1>Random post from r/{{subreddit}}</h1>
    <h2>{{title}}</h2>
    {% block meme %}
    <img src="{{meme}}" style="max-width: 90vw; max-height: 70vh;">
    {% endblock %}
</div>
<div class=flex style="display: flex;justify-content: space-evenly;">
    <a href="{{link}}">
        <button role="link">Link to post</button>
    </a>
    <a href="/settings">
        <button role="link">Settings</button>
    </a>
    <a>
        <button onclick="location = location.pathname + location.hash">New post</button>
    </a>
</div>

<script>
  async function createBookmark() {
    let data = new FormData()
    data.append('link', '{{link}}')
    const url = {{ url_for('account.bookmarks')|tojson }};
    try {
      const response = await fetch(url, {
                          "method": "POST",
                          "body": data
      });
      if (!response.ok) {
        throw new Error(`Response status: ${response.status}`);
      }

      const json = await response.json();
      console.log(json);
    } catch (error) {
      console.error(error.message);
    }
  }

</script>


{% endblock %}
