{% extends "base.html.jinja" %}
{% block head %}
    <title>{{title}}</title>
{% endblock %}
{% block body %}
<div class="main">
  <div id="bookmark-popup" style="display: none;">
    <p>Bookmark created successfully!</p>
    <button id="bookmark-popup-close"><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div class="title">
    <a href="{{link}}" target="_blank">
      Random post from r/{{subreddit}} 
      <i class="fa-solid fa-up-right-from-square"></i>
    </a>
    <h2>{{title}}</h2>
  </div>
  {% block meme %}
  <img src="{{meme}}" style="max-width: 90vw; max-height: 70vh;">
  {% endblock %}
</div>
<div class="flexbox button-container" style="justify-content: space-evenly;">
    <a>
        <button onclick="createBookmark()">Bookmark <i class="fa-solid fa-bookmark"></i></button>
    </a>
    <a>
        <button onclick="location = location.pathname + location.hash">New post</button>
    </a>
</div>
<script>
  async function createBookmark() {
    let data = new FormData()
    data.append('link', '{{link}}')
    const url = {{ url_for('account.create_bookmark')|tojson }};
    try {
      const response = await fetch(url, {
                          "method": "POST",
                          "body": data
      });
      if (!response.ok) {
        throw new Error(`Response status: ${response.status}`);
      }

      const json = await response.json();
      console.log(json);
      if (!json.error) {
        const popup = document.getElementById('bookmark-popup');
        const popupClose = document.getElementById('bookmark-popup-close');
        popup.style.display = 'block';
        popup.style.zIndex = 10;
        function closePopup() {
          popup.style.display = 'none';
          popup.style.zIndex = 0;
        }
        popupClose.addEventListener("click", closePopup);
      }
    } catch (error) {
      console.error(error.message);
    }
  }
</script>
{% endblock %}
