<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <script>
                window.alert("{{message}}")
            </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>