{% extends "base.html" %}
{% block head %}
    <title>{{title}}</title>
{% endblock %}
{% block body %}
<div class="main">
    <h1>Random post from r/{{subreddit}}</h1>
    <h2>{{title}}</h2>
    {% block meme %}
    <img src="{{meme}}" style="max-width: 90vw; max-height: 70vh;">
    {% endblock %}
</div>
<a style="color: #0000EE;width: 100%;margin: 10%;" href="{{link}}">Link to post</a>
<a style="color: #0000EE;width: 100%;margin: 10%;" href="javascript:location.reload()">New post</a>
{% for text in extra %}
<p>{{text}}</p>
{% endfor %}
{% endblock %}